Repository wahidullahr/light_store: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npm run type-check

Add .gitignore and update project files
  .gitignore
  next-env.d.ts
Due: eslint --fix, prettier --write, npm run type-check

Prepare application for production deployment: Fix test files, add Netlify configuration, update documentation
  .env.example
  DEPLOYMENT_NETLIFY.md
  README.md
  netlify.toml
  package-lock.json
  package.json
  pnpm-lock.yaml
  public/_headers
  public/_redirects
  public/deploy-check.html
  src/app/[locale]/about/page.tsx
  src/app/[locale]/contact/page.tsx
  src/app/[locale]/page.tsx
  src/app/[locale]/products/page.tsx
  src/components/navigation.test.tsx
  src/components/sections/hero.test.tsx
  src/components/ui/container.test.tsx
  src/components/ui/locale-switcher.test.tsx
  src/components/ui/section-header.test.tsx
  src/lib/i18n.ts
  src/test/setup.ts
  src/test/utils.tsx
Due: eslint --fix, prettier --write, npm run type-check

Fix pnpm lockfile and build configuration for Netlify deployment
  pnpm-lock.yaml
  tsconfig.json
  vitest.config.ts
Due: eslint --fix, prettier --write, npm run type-check

Add root layout to fix Netlify deployment error
  src/app/layout.tsx
Due: eslint --fix, prettier --write, npm run type-check

Remove unwanted files from git tracking: package-lock.json, .vscode files, and next-env.d.ts
  .vscode/extensions.json
  .vscode/settings.json
  next-env.d.ts
  src/app/[locale]/about/page.tsx
  src/app/[locale]/products/page.tsx
  src/app/layout.tsx
Due: eslint --fix, prettier --write, npm run type-check

Remove package-lock.json from git tracking
  package-lock.json
Due: prettier --write

Fix TypeScript errors and prepare for Netlify deployment
  package-lock.json
Due: prettier --write

Fix TypeScript errors in contact and about pages to resolve Netlify deployment issues
  src/app/[locale]/about/page.tsx
Due: eslint --fix, prettier --write, npm run type-check

Fix unused variable warnings that were causing Netlify build to fail
  .husky/pre-commit
  src/app/[locale]/contact/page.tsx
  src/app/[locale]/page.tsx
Due: eslint --fix, prettier --write, npm run type-check

Fix TypeScript errors in contact page and resolve build issues
  src/app/[locale]/contact/page.tsx
Due: eslint --fix, prettier --write, npm run type-check

Add Docker environment setup and fix contact page for Netlify deployment
  .dockerignore
  Dockerfile
  Dockerfile.dev
  README.md
  check-docker.sh
  docker-compose.prod.yml
  docker-compose.yml
  docker-dev.sh
  docker-prod.sh
  docker-setup.sh
  next.config.ts
  open-docker.sh
  src/app/[locale]/contact/page.tsx
  test-docker.sh
Due: eslint --fix, prettier --write, npm run type-check

Add deployment guides for Netlify and Vercel
  NETLIFY_DEPLOYMENT_GUIDE.md
  VERCEL_DEPLOYMENT_GUIDE.md
Due: prettier --write

feat: Implement dedicated image folders for About and Home pages, fix image container layouts, and enhance visual design
  public/about/studio1.jpg
  public/about/workshop1.jpg
  public/about/workshop2.jpg
  public/about/workshop3.jpg
  public/about/workshop4.jpg
  public/about/workshop5.jpg
  public/about/workshop6.png
  public/home/craft-section.jpg
  public/home/hero-lamp.jpg
  public/products/lamp1/1.jpg
  public/products/lamp1/2.jpg
  public/products/lamp1/3.jpg
  public/products/lamp1/4.jpg
  public/products/lamp2/1.jpg
  public/products/lamp2/2.jpg
  public/products/lamp2/3.jpg
  public/products/lamp2/4.jpg
  public/products/lamp3/1.jpg
  public/products/lamp3/2.jpg
  public/products/lamp3/3.jpg
  public/products/lamp3/4.jpg
  public/products/lamp4/1.jpg
  public/products/lamp4/2.jpg
  public/products/lamp4/3.jpg
  public/products/lamp4/4.jpg
  public/wood1.jpg
  public/wood10.jpg
  public/wood11.jpg
  public/wood12.jpg
  public/wood2.jpg
  public/wood3.jpg
  public/wood4.jpg
  public/wood6.jpg
  public/wood7.jpg
  public/wood8.jpg
  public/wood9.jpg
  public/wooden-imiddle-section.jpg
  src/app/[locale]/about/page.tsx
  src/app/[locale]/page.tsx
  src/app/[locale]/products/page.tsx
Due: eslint --fix, prettier --write, npm run type-check

Add new enhanced lamp images for product cards
  public/products/lamp1/20250921_1036_Enhanced Lamp Image_remix_01k5npgy6hepw8x3mh2khygrcr.png
  public/products/lamp1/20250921_1036_Enhanced Lamp Image_remix_01k5npgy6mesesxha7x02tkbwk.png
Due: none

Add Vercel deployment configuration and update deployment guide
  VERCEL_DEPLOYMENT_GUIDE.md
  vercel.json
Due: prettier --write

feat: enhance mobile navigation and improve user experience
  public/products/lamp1/1.jpg
  public/products/lamp1/2.jpg
  public/products/lamp1/20250921_1036_Enhanced Lamp Image_remix_01k5npgy6hepw8x3mh2khygrcr.png
  public/products/lamp1/20250921_1036_Enhanced Lamp Image_remix_01k5npgy6mesesxha7x02tkbwk.png
  public/products/lamp1/3.jpg
  public/products/lamp1/4.jpg
  public/products/lamp2/1.jpg
  public/products/lamp2/2.jpg
  public/products/lamp2/3.jpg
  public/products/lamp2/4.jpg
  public/products/lamp3/1.jpg
  public/products/lamp3/2.jpg
  public/products/lamp3/2.png
  public/products/lamp3/3.jpg
  public/products/lamp3/4.jpg
  public/products/lamp4/1.jpg
  public/products/lamp4/2.jpg
  public/products/lamp4/3.jpg
  public/products/lamp4/4.jpg
  public/products/lamp5/1.jpg
  public/products/lamp5/2.jpg
  public/products/lamp5/3.jpg
  public/products/lamp5/4.jpg
  public/products/lamp6/1.jpg
  public/products/lamp6/2.jpg
  public/products/lamp6/3.jpg
  public/products/lamp6/4.jpg
  src/app/[locale]/contact/page.tsx
  src/app/[locale]/layout.tsx
  src/app/[locale]/page.tsx
  src/app/[locale]/products/page.tsx
  src/app/globals.css
  src/components/Navbar.tsx
  src/components/sections/product-highlights.tsx
Due: eslint --fix, prettier --write, npm run type-check

fix: update vercel.json configuration for proper deployment
  vercel.json
Due: prettier --write

feat: update home page images and integrate craft section image
  public/home/craft-section.jpg
  public/home/hero-lamp.jpg
  src/components/sections/craft.tsx
Due: eslint --fix, prettier --write, npm run type-check

fix: add Image import to craft section component
  src/components/sections/craft.tsx
Due: eslint --fix, prettier --write, npm run type-check

feat: configure custom domain huslampe.no
  DOMAIN_SETUP_GUIDE.md
  vercel.json
Due: prettier --write

docs: add comprehensive development workflow and best practices guide
  DEVELOPMENT_WORKFLOW.md
Due: prettier --write

feat: rebrand from Tindra to Huslampe across entire website
  DEVELOPMENT_WORKFLOW.md
  content/en/site.json
  content/nb/site.json
  src/app/[locale]/about/page.tsx
  src/app/[locale]/contact/page.tsx
  src/app/[locale]/layout.tsx
  src/app/layout.tsx
  src/components/Navbar.tsx
Due: eslint --fix, prettier --write, npm run type-check

feat: update contact information with address and phone number
  content/en/site.json
  content/nb/site.json
  src/app/[locale]/contact/page.tsx
  src/app/[locale]/page.tsx
  src/components/Navbar.tsx
  src/components/sections/cta.tsx
  src/components/sections/footer.tsx
  src/lib/seo.ts
Due: eslint --fix, prettier --write, npm run type-check

feat: integrate Supabase database
  SUPABASE_SETUP.md
  content/en/site.json
  package.json
  pnpm-lock.yaml
  src/app/api/supabase/test/route.ts
  src/components/Navbar.tsx
  src/components/sections/footer.tsx
  src/lib/supabase/client.ts
  src/lib/supabase/index.ts
  src/lib/supabase/server.ts
  src/lib/supabase/test-connection.ts
Due: eslint --fix, prettier --write, npm run type-check

feat: build comprehensive CMS admin dashboard
  CMS_SETUP_GUIDE.md
  src/app/admin/layout.tsx
  src/app/admin/login/page.tsx
  src/app/admin/page.tsx
  src/app/admin/products/[id]/page.tsx
  src/app/admin/products/page.tsx
  src/app/api/admin/content/route.ts
  src/app/api/admin/products/[id]/route.ts
  src/app/api/admin/products/route.ts
  src/app/api/admin/upload/route.ts
  src/components/admin/ImageUpload.tsx
  src/components/admin/Navbar.tsx
  src/components/admin/ProductForm.tsx
  src/lib/admin/auth.ts
  src/lib/supabase/client.ts
  src/lib/supabase/server.ts
  src/lib/supabase/types.ts
  supabase/schema.sql
Due: eslint --fix, prettier --write, npm run type-check

fix: improve Supabase server client initialization
  src/lib/supabase/server.ts
Due: eslint --fix, prettier --write, npm run type-check

fix: resolve admin login issues and improve setup
  CMS_SETUP_GUIDE.md
  TROUBLESHOOTING.md
  src/app/admin/login/page.tsx
  src/app/admin/products/[id]/page.tsx
  src/app/admin/setup/page.tsx
  src/app/api/admin/setup/route.ts
  src/lib/admin/auth.ts
  src/lib/supabase/client.ts
  src/lib/supabase/server.ts
  supabase/schema.sql
Due: eslint --fix, prettier --write, npm run type-check

feat: add easy way to add existing users as admin
  TROUBLESHOOTING.md
  src/app/admin/add-admin/page.tsx
  src/app/admin/login/page.tsx
  src/app/api/admin/add-admin/route.ts
Due: eslint --fix, prettier --write, npm run type-check

security: restrict admin user creation to manual process
  CMS_SETUP_GUIDE.md
  TROUBLESHOOTING.md
  src/app/admin/add-admin/page.tsx
  src/app/admin/login/page.tsx
  src/app/admin/setup/page.tsx
  src/app/api/admin/add-admin/route.ts
  src/app/api/admin/setup/route.ts
Due: eslint --fix, prettier --write, npm run type-check

refactor: streamline admin login - remove setup pages, improve UX
  CMS_SETUP_GUIDE.md
  src/app/admin/add-admin/page.tsx
  src/app/admin/login/page.tsx
  src/app/admin/setup/page.tsx
  src/components/admin/Navbar.tsx
Due: eslint --fix, prettier --write, npm run type-check

fix: resolve Internal Server Error issues
  src/app/admin/add-admin/page.tsx
  src/app/admin/setup/page.tsx
  src/app/api/admin/add-admin/route.ts
  src/app/api/admin/setup/route.ts
Due: eslint --fix, prettier --write, npm run type-check

docs: add quick guide for adding admin user to admin_users table
  ADD_ADMIN_USER.md
  src/lib/admin/auth.ts
  supabase/add-admin-user.sql
Due: eslint --fix, prettier --write, npm run type-check

improve: enhance admin verification with better debugging
  DIAGNOSE_ADMIN_ISSUE.md
  src/app/admin/login/page.tsx
  src/lib/admin/auth.ts
  supabase/verify-admin-setup.sql
Due: eslint --fix, prettier --write, npm run type-check

fix: improve RLS policy verification and session checking
  src/lib/admin/auth.ts
  supabase/fix-rls-policy.sql
  supabase/test-rls-policy.sql
Due: eslint --fix, prettier --write, npm run type-check

debug: improve error logging for admin check to diagnose RLS issues
  src/lib/admin/auth.ts
Due: eslint --fix, prettier --write, npm run type-check

fix: update pnpm-lock.yaml to include resend dependency
  pnpm-lock.yaml
Due: none

chore: add .npmrc to allow build scripts
  .npmrc
Due: none

fix: remove standalone output for Vercel compatibility
  next.config.ts
Due: eslint --fix, prettier --write, npm run type-check

chore: configure pnpm to allow build scripts
  .npmrc
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,md})
  npm run type-check: any of: *.{ts,tsx}
